.odstavec {
    font-size: 16px;

}

.red {
    color: red;
}

.audioTlacitko {
    display: inline-block;
      font-family: Monserrat, sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: blue;
      text-decoration: none;
      text-align: center;
      text-shadow: 1px 1px 0px cyan;
      padding: 10px 30px;
      position: relative;
      cursor: pointer;
      border: 1px solid blue;
      background: blanchedalmond;
      border-radius: 5px;
      box-shadow: 0px 5px 5px 0px cyan, 0px 10px 5px #999;
    margin: 20px 5px;
  }

h2 {
    font-size: 25px;
    color: blue;
  }